x3d{
	background: rgba(64,60,51, 0.8);
	opacity: 0.6;
}

body{
	margin: 0px;
	width: 100%;
	height: 100%;
	background-image: url(background/bg1.jpg);
	background-position: no-repeat center;
	background-size: cover;
}

header{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: rgb(255,255,255);
}

section{
	margin: 0 auto;
	margin-top: 10px;
	width: 95.16837%;
	height: 550px;
	background: rgb(255,255,255);
	border-radius: 4px;
	opacity: 0.6;
}

#tdobj-display{
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
}

.operate-panel,.little-panel{
	position: absolute;
	font-size: 16px;
	background: rgb(196,207,190);
	opacity: 0.4;
	padding-left: 10px;
	padding-right: 10px;
	top: 56px;
	left: 6px;
	color: rgb(0,0,0);
	border-radius: 4px;
	width: 180px;
}

#title-panel{
	position: absolute;
	left: 6px;
	font-size: 20px;
	top: 8px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

.operate-panel ul{
	margin-left: -40px;
	list-style:none;
}

.operate-panel ul li{
	margin-bottom: 10px;
	cursor: pointer;
}

#list-panel{
	top: 170px;
}

#list-panel ul li{
	text-align: center;
}

#list-panel ul li img{
	width: 40%;
}

.little-panel{
	top: 57px;
	left: 210px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}

.little-panel .lights{
	display: block;
	cursor: pointer;
}


#model-desc{
	width: 80.5796886%;
	left: 210px;
	top: 8px;
	padding: 20px;
	display: none;
}

#model-desc p{
	display: none;
}

#panel-Camera ul,#panel-Themes ul{
	list-style:none;
	margin-left: -40px;
}

#panel-Camera ul li,#panel-Themes ul li{
	cursor: pointer;
	margin-bottom: 10px;
	text-align: center;
}

.admin-menu{
	display: table;
	width: 100%;
}

.admin-menu ul{
	display: table-row;
}

.admin-menu ul li{
	color: rgb(80,80,80);
	font-size: 20px;
	text-align: center;
	display: table-cell;
	cursor: pointer;
}

.admin-menu-active{
	color: rgb(115,135,140);
	border-bottom: 2px solid rgb(115,135,140);
	padding-bottom: 3px;
}

#models-panel,#bg-panel{
	position: relative;
	background: rgb(255,255,255);
	display: table;
	width: 100%;
}

#models-panel ul,#bg-panel ul{
	display: table-row;
}

#models-panel ul li,#bg-panel ul li{
	text-align: center;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
}

#models-panel ul li img,#bg-panel ul li img{
	width: 100px;
	height: 100px;
}

#models-panel ul li span,#bg-panel ul li span{
	display: block;
}

footer{
	text-align: center;
	position: absolute;
	font-size: 20px;
	color: rgb(255,255,255);
	bottom: 0;
	width: 100%;
	text-align: center;
}
